.icons-page {
	.setting {
		.title {
			font-size: 20px;
			font-weight: bold;
		}
		.content {
			padding: 30px 0;
			.__item {
				margin-bottom: 30px;
				label {
					width: 70px;
					margin-right: 10px;
				}
				.color-picker {
					position: relative;
					left: 50px;
				}
			}
		}
	}
	.block {
		margin: 20px 0;
		.title {
			padding: 20px;
			font-size: 24px;
			font-weight: bold;
		}
		ul {
			background: white;
			padding: 20px;
		}

		.__item {
			width: 115px;
			cursor: pointer;
			height: 100px;
			transition: all 1s;
			background-color: #fff;
			margin: 5px;
			font-size: 12px;

			i {
				font-size: 18px;
				margin-bottom: 10px;
			}

			&:hover {
				transition: all 0s;
				background: rgb(187, 186, 186);
				color: white;
			}
		}
	}
}