.login-page {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.bg {
		position: absolute;
		left: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
		z-index: 0;
		background: url("../../../assets/xingxing.jpg");
		background-size: 100% 100%;
	}

	#particle {
		position: absolute;
		left: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
		z-index: 0;
	}

	.container {
		position: relative;
		width: 300px;
		height: 350px;

		.show-box {
			transform: rotateY(0deg);
		}

		.hide-box {
			transform: rotateY(180deg);
		}

		.box {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 40px 30px;
			backface-visibility: hidden;
			background: linear-gradient(to left bottom, rgba(107, 133, 109, 0.1), rgba(196, 134, 0, 0.1));
			// background: linear-gradient(to left bottom, rgba(112, 134, 113, 0.3), rgba(96, 97, 66, 0.3));
			// box-shadow: 0px 0px 30px rgba(80, 71, 54, 0.3);
			// box-shadow: -15px 15px 15px rgba(80, 71, 54, 0.3);
			border-radius: 6px;
			transition: all 1s;

			input {
				font-size: 14px;
			}

			.btns {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}
}