.Login {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(26deg, #efa8e4, #f8e1f4 20%, #fff0f5 80%, #97e5ef);

	.box {
		padding: 40px 30px;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 300px;
		backface-visibility: hidden;
		backface-visibility: none;
		transition: all 1s;
		box-shadow: 4px 4px 8px rgba(#dbbad6, 0.8),
			-4px -4px 8px rgba(#fffafc, 0.8);
		border-radius: 20px;
		opacity: 1;

		&.show-box {
			transform: translate(-50%, -50%) rotateY(0deg);
		}

		&.hide-box {
			transform: translate(-50%, -50%) rotateY(180deg);
			opacity: 0;
		}

		.form {
			color: #e2aed9;
			font-size: 16px;

			.title {
				font-size: 26px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-bottom: 20px;
			}

			input {
				padding: 0 20px;
				height: 40px;
				// background: #f8e1ed;
				// color: #f88be8;
				background: none;
				color: #e2aed9;
				border: none;
				border-radius: 20px;
				text-align: center;
				box-shadow: inset 2px 2px 4px rgba(#e2c8d6, 0.8),
					inset -2px -2px 4px rgba(#fdf7f7, 1);
				font-size: 16px;

				&::placeholder {
					color: #e2aed9;
					// color: #f88be8;
				}
			}

			.ant-form-item-explain {
				//验证提示样式
				color: #fa3195;
				padding: 0 20px;
			}

			.ant-radio-group {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex: 1;

				label {
					width: 80%;

					span:first-of-type {
						display: none;
					}

					span:last-of-type {
						@extend .btn,
						.pink;
						width: 100% !important;
					}

					&.ant-radio-wrapper-checked {
						span:last-of-type {
							@extend .btn:active;
						}
					}
				}
			}

			.btns {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			.btn {
				width: 60px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: all 0.2s;

				&.pink {

					color: #e2aed9;
					border-radius: 20px;
					// box-shadow: 6px 6px 12px rgba(#ccb3bb, 0.8),
					// 	-6px -6px 12px rgba(#faf2fa, 0.8);
					box-shadow: 2px 2px 6px rgba(#7e4f74, 0.5),
						-4px -4px 10px rgba(#faf2fa, 0.8);


					&:hover {
						color: #da7fca;
					}

					&:active {
						box-shadow: 0 0 0 #d0bacd,
							0 0 0 #fffcff,
							inset 2px 2px 4px rgba(#e2c8d6, 0.8),
							inset -2px -2px 4px rgba(#fdf7f7, 1);
					}
				}

				&.text {
					color: #e2aed9;

					&:hover {
						color: #da7fca;
					}
				}
			}

		}
	}
}